.content{
    max-width: 1400px;
    margin: auto;
    padding: 1rem 0;

}
.content-moneda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-moneda> *{
    padding: 0 1rem;
}
.headercrypto,.change{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.headercrypto,.change> *{
    padding: 0 1rem;
}
.precio{
    display: flex;
    flex-direction: column;
}
.precio>*{
    padding: .3rem;
}
.change{
    font-size: 1.4rem;
}